.content-container {
  padding: 5rem 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.content-left-container{
    display: flex;
    align-items: center;
}

.content-left-heading {
  margin-bottom: 2rem;
}

.content-first-desc {
  /* width: 80%; */
  margin-bottom: 2rem;
}

.second-desc {
  /* width: 80%; */
}
