.content-container {
  padding: 5rem 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  background-color: #000;
}

.content-left-container {
  display: flex;
  align-items: center;
}

.content-left-heading h1 {
  /* color: #fff; */
  background: linear-gradient(to right, #ee0979, #ff6a00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.content-left-heading {
  margin-bottom: 2rem;
}

.content-left-desc p {
  color: #fff;
}

.content-first-desc {
  margin-bottom: 2rem;
}

/* .second-desc {
  color: #fff;
} */
