header {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.birds-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../imgs/bird_images/flyGuysBackground.png');
}

.birds-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.birds-heading-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: .5rem;
}

.birds-heading-container h1 {
  font-size: 6rem;
  font-weight: 800;
  color: #fff;
  padding: .4rem 0;
}

.birds-heading-container span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.3rem;
}

.birds-heading-2 {
  margin-bottom: 4rem;
}
