nav {
  height: 10vh;
  padding: 3rem 24rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

/* --- Icons --- */
.fa-kiwi-bird {
  font-size: 1.4rem;
}

.logo-name {
  margin-left: .6rem;
}

.socials-container {
  display: flex;
  justify-content: space-between;
  background-color: chartreuse;
}

.discord-button {
  padding: 0.6rem 0.9rem;
  margin-left: 0.8rem;
  cursor: pointer;
}

.twitter-button {
  padding: 0.6rem 0.9rem;
  margin-left: 0.8rem;
  cursor: pointer;
}

.connect-wallet-button {
  padding: 0.6rem 0.9rem;
  margin-left: 0.8rem;
  cursor: pointer;
}
